/* Header  */

.nav_cont {
    background-color: #2C3E50;
}

.nav_row {
    height: 5rem;
    color: white;
}

.nav_row {
    font-size: 24px;
    font-weight: bold;
}


/* Section 1 */

.sec1_cont {
    background-color: #2DC1A3;
    padding: 2rem;
}

.user_img img {
    border-radius: 50%;
}

.sec1_title {
    text-align: center;
}

.hr {
    height: 4px;
    background: white;
}

.sec1_cont [class*="col-"] {
    color: white;
    text-align: center;
}


/* Section 2  */

.sec2_cont {
    height: 800px;
    background-color: white;
}


/* Section 3 */

.sec3_cont {
    height: 500px;
    background-color: #2DC1A3;
}


/* Section 4 */

.sec4_cont {
    height: 600px;
    background-color: white;
}


/* Footer Info  */

.footer_info {
    height: 300px;
    background-color: #3A546D;
}


/* Footer Copyright  */

.footer_copyright {
    height: 7rem;
    background-color: #2C3E50;
}