/* Header  */

header {
    background-color: #2C3E50;
}

.nav_row {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.mt_6 {
    margin-top: 5rem;
}

/* Section 1 */

.sec1 {
    background-color: #2DC1A3;
}


/* Section 2  */

.sec2_cont {
    padding: 3rem 0;    
    background-color: white;
}

.bord_rad {
    padding: 2rem 0;
    background: red;
    border-radius: 10px;
}


/* Section 3 */

.sec3 {
    background-color: #2DC1A3;
}


/* Section 4 */



/* Footer Info  */

.footer_info {
    background-color: #3A546D;
}


/* Footer Copyright  */

.footer_copyright {
    background-color: #2C3E50;
}